<?php
if (file_exists(__DIR__.'/vendor/autoload.php')){
    //standalone project
    require_once __DIR__.'/vendor/autoload.php';
}elseif (file_exists(__DIR__.'/../../../vendor/autoload.php')){
    //in another project vendor
    require_once __DIR__.'/../../../vendor/autoload.php';
}


